<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="assets/js/vue.js"></script>
  <title>Document</title>
</head>
<body>
  <h1>Vue Lists And Conditional Content</h1>

  <section id="container">
    <h2>Assignment</h2>
    
    <hr>

    <input type="text" v-model="taskInput" required>
    <button @click="addTasks" v-if="taskInput === '' " disabled>Add Task</button>
    <button @click="addTasks" v-else>Add Task</button>
    <p v-if="tasks.length === 0">No task Added Yet</p>
    <ul v-else v-show="tbtn === false">
      <li v-for="task in tasks" :key="task">{{ task }}</li>
    </ul>
    <br>
    <br>
    <button @click="toggleBtn">{{toggler}}</button>
  </section>



  <script src="assets/js/app.js"></script>
</body>
</html>